* {
  margin: 0%;
  padding: 0%;
  font-family: Arial;
}
.app {
  font-family: sans-serif;
  font-size: 20px;
  color: black;
  height: 50px;
  padding: 20px;
  padding-top: 20px;
}
h3 {
  font-size: 60px;
}
body {
  background: radial-gradient(#9f53f7, #f8f869);
  background-size: cover;
  font-size: 20px;
}
h1 {
  float: left;
  color: #b40be7;
}
.task {
  padding: 30px;
}
.lgm {
  margin-top: -45px;
  width: 190px;
  height: 140px;
}
.btn {
  float: right;
  padding: 15px;

  border: 2px solid #b40be7;
  border-radius: 10px;

  cursor: pointer;
  font-weight: bolder;
}
.btn:hover {
  background-color: #b40be7;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.row {
  margin: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 25%;
  padding: 10 10px;
  margin: 20px;
}
.card {
  padding: 16px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0px 5px 15px 0px rgb(14, 14, 14);
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.card-img-top {
  border-radius: 50%;
  height: 50%;
  width: 50%;
  border: 2px solid white;
  margin: 10px;
}
.card:hover {
  background-color: #fcfc98;
}
.card-title {
  font-size: 1.5rem;
  margin: 5px;
  color: #b40be7;
}
.card-text {
  color: #000;
}
